<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jomhuria&family=Noto+Sans+JP:wght@100&family=Roboto&family=Tourney&display=swap" rel="stylesheet">
    <title>Travel web app</title>
  </head>
  <body>
    <header>
      <h1>travel planner</h1>
    </header>
    <main>
      <section class="form__section">
        <form onsubmit="return Client.formHandler(event)">
          <div class="input__field">
            <label for="location">My trip to:</label>
            <input id="input-location" type="text" name="location" placeholder="Enter location">
          </div>
          <div class="input__field">
            <label for="date">Departing:</label>
            <input id="input-date" type="text" name="date" placeholder="MM/DD/YYYY">
          </div>
          <div class="submit">
            <input id="submit" type="submit" name="" value="submit" onsubmit="return Client.formHandler(event)">
          </div>
        </form>
      </section>
      <h2 class="section__title">Results</h2>
        <section class="results__section">
          <template id="results">
            <figure class="image">
              <img>
            </figure>
            <div class="plan">
              <h2>My trip to: <span id="city"></span></h2>
              <h2>Departing: <span id="date"></span></h2>
            </div>
            <div class="actions">
              <button id="save-trip">save trip</button>
              <button id="remove-trip">remove trip</button>
            </div>
            <div class="rem__days">
              <h3><span id="place"></span> is <span id="days"></span> days away</h3>
            </div>
            <div class="weather">
              <h3>Typical weather for then is:</h3>
              <p id="desc-1"></p>
              <p id="desc-2"></p>
            </div>
          </template>
        </section>
      <h2 class="section__title">Saved trips</h2>
        <section class="saved">
          <template id="saved">
            <div class="image">
              <img>
            </div>
            <div class="details">
              <h3 id="place"></h3>
              <span id="date"></span>
            </div>
          </template>
        </section>
    </main>
    <footer class="border">
      <span>&copySilas Jimmy</span>
      <span>All rights reserved</span>
    </footer>
  </body>
</html>
