.border {
  border: 1px solid black;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;

  header {
    text-align: center;
    padding: 1em 0;

    h1 {
      text-transform: capitalize;
    }
  }

  h2 {
    margin: 0.3em 0;

    span {
      font-weight: lighter;
    }
  }

  h3 {
    margin: 0.3em 0;
  }

  p {
    margin: 0.5em 0;
  }

  input[type="text"] {
    border: none;
    padding: 0.6em 0.3em;

    &:focus {
      border-bottom: 1px solid black;
      outline: none;
    }
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  label {
    font-weight: bold;
  }

  ::placeholder {
    font-weight: bold;
  }

  input[type="submit"], button {
    text-transform: lowercase;
    padding: 0.5em;
    border: 3px solid;
    margin: 1em;
  }

  footer {
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 1em;
    display: flex;
    justify-content: space-between;
  }
}
