@import "variables";

.saved {
  padding: 1em 4em;
  display: grid;
  grid-template-columns: 100%;

  .card {
    border-radius: 3px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);

    .image {
      height: 150px;
    }

    .details {
      display: flex;
      flex-direction: column;
      padding: 0.5em 0 0.5em 1em;

      h3 {
        font-family: 'Tourney', cursive;
        font-weight: 400;
        font-size: $fs-small;
      }

      span {
        margin-left: 0.2em;
        font-family: 'Jomhuria', cursive;
        font-size: $fs-small;
        font-style: italic;

        &::before {
          content: '~';
          margin: 0.2em;
        }
      }
    }
  }
}
