// Colors
$grey-lighten-1: #fafafa;
$grey-lighten-2: #e0e0e0;
$grey-darken-1: #212121;
$red-lighten-1: #ffebee;

// Fonts
$fs-xlarge: 2.3rem;
$fs-large: 2rem;
$fs-meduim: 1.8rem;
$fs-small: 1.5rem;
$fs-xsmall: 1rem;
