// Colors
$grey-lighten-1: #fafafa;
$grey-lighten-2: #e0e0e0;
$grey-darken-1: #212121;
$red-lighten-1: #ffebee;

// Fonts
$fs-xlarge: 3rem;
$fs-large: 2.5rem;
$fs-meduim: 2.2rem;
$fs-small: 2rem;
$fs-xsmall: 1rem;
